<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 bg-light p-4 rounded">
            <h1 class="text-center mb-4">Please Login</h1>
            <form method="POST" autocomplete="off">
                <div class="mb-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter username" id="username"
                        required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter password"
                        id="password" required>
                    <small class="form-text text-muted">or <a href="/register">Register Here</a></small>
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-success btn-lg" value="Login">
                    <a href="/" class="btn btn-warning btn-lg">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>